// ------ GENERAl ----------
@font-face {
    font-family: Bellota;
    src: url("../font/Bellota-Regular.otf");
}

body {
    background-color: #303030;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Bellota;
    padding-top: 1.5;
}
html, body{
    margin: 0;
}

.blue-divider {
    border-top: 1px solid #15c5bd;
    width: 250px;
    margin-bottom: 60px;
}

h1 {
    margin: 15px;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link{
    color: #15c5bd;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
