@import 'GLOBAL';
@import 'NAVBAR';

.name {
    width: 100%;
    margin-right: 20px;
}

.full-line {
    width: 100%;
}

.country {
    width: 100%;
    margin-right: 20px;
}

input,
select,
textarea {
    margin-bottom: 30px;
}

label{
    font-size: 30px;
}

p {
    margin: 4px;
}

.submit {
    border-radius: 30px;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 30px;
}

.forBot {
    display: none;
}
.popo{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

form{
    margin-bottom: 50px;
}
.test{
    display: inline;
}
@media screen and (min-width: 605px) {
    .name {
        width: 200px;
        margin-right: 20px;
    }

    .full-line {
        width: 540px;
    }

    .country {
        width: 310px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 992px) {
    .txt-r {
        text-align: right;
    }

    form{
        .BOX{
            display: flex;
            justify-content: space-around;
        }
    }
}