@import 'GLOBAL';
@import 'NAVBAR';
@import 'FOOTER';

.main-div{
  display: flex;
  justify-content: center;
}

/*ACCEUIL CAROUSEL */
.carous {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 800px;
  height: 500px;
}
.carousel-control-next-icon{
  position: relative;
  left: 50px;
}
.carousel-control-prev-icon {
  position: relative;
  right: 50px;
}

.carousel-caption{
background-color: rgba(0, 0, 0, 0.589);
padding: 10px;
position: sticky;
}
.carousel-item{
  width: 400px;
  height: 476px;
}