@import 'GLOBAL';
@import 'NAVBAR';
@import 'FOOTER';

.card-img-top {
    height: 250px;
    width: 100%;
    overflow: hidden;
  }
  
  .text-muted {
    color: yellow;
    padding: 10px;
  }
  
  .one {
    margin-top: 4%;
    padding: 6%;
  }
  
  .title {
    text-align: center;
  }