* {
    margin: 0px;
    padding: 0px;
    background: #2E2D27;
    color: whitesmoke;
    font-family: 'bellota';
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    width: 50%;
  }